body{
   
    overflow-x: hidden;
    background-image: url("fondo.jpg");
        background-size: auto;
}
/* body::after {
        content: "";
       
        
        opacity: .8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      } */


#cont{
    background: white;
    color:black;
    margin:  0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black
}


.close{
    float: right;
    
}

.mensaje{
    border: 1px solid green;
    color: green;
    padding: 10px;
}
table{
    text-align: center;
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0,0 , 0.4);
    color: white;
    text-align: center;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}